.site-signup{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
/* ---start--fields-------*/
.blockFields{
    display: flex;
    flex-direction: column;
    margin-top: 15px;
}

.field-signupform-login, .field-signupform-phone{
    display: none;
}

.help-block{
    font-size: 12px;
    color: red;
}

#signupform-email, #signupform-login, #signupform-password, #signupform-phone{
    height: 50px;
    font-size: 20px;
}


.text_t235664{
    font-weight: 500;
}



